@import "tailwindcss";

@theme inline {
  --font-heading: var(--font-syne);
  --font-body: var(--font-inter);
  --color-brand-dark: #242423;
  --color-brand-surface: #333533;
  --color-brand-gold: #f5cb5c;
  --color-brand-light: #e8eddf;
  --color-brand-muted: #cfdbd5;
}

body {
  background: var(--color-brand-dark);
  color: var(--color-brand-light);
  font-family: var(--font-body), sans-serif;
}
